<main class="main-container">

  <header class="app-header">
    <h1>WeatherWise</h1>
    <p>Your personal weather dashboard</p>
  </header>


  <div class="user-section-wrapper">
    <div class="user-section">
      <div *ngIf="currentUser$ | async as username; else usernameForm" class="welcome-message">
        <span>Welcome, <strong>{{ username }}</strong>!</span>
        <button (click)="changeUser()">Change User</button>
      </div>
      <ng-template #usernameForm>
        <form (ngSubmit)="handleSetUsername()" class="username-form">
          <input type="text" [(ngModel)]="usernameInput" name="username" placeholder="Enter your username"
            aria-label="Username" required>
          <button type="submit">Set User</button>
        </form>
      </ng-template>
    </div>
  </div>

  <app-search (locationConfirmed)="handleLocationConfirmed($event)"></app-search>

  <app-saved-locations (locationSelected)="handleSelectLocation($event)"
    (locationDeleted)="handleDeleteLocation($event)" />

  <div class="content-area">

    <div *ngIf="isLoading" class="status-message">
      <p>Fetching weather data...</p>
    </div>

    <div *ngIf="error && !isLoading" class="status-message error-message">
      <h2>An Error Occurred</h2>
      <p>{{ error.error?.message || 'Could not fetch data. Please try another city.' }}</p>
    </div>

    <div *ngIf="weatherData && locationData && !isLoading">

      <div class="location-header">
        <h2 class="location-title">
          Weather for {{ locationData.name }}, {{ locationData.state ? locationData.state + ', ' : '' }}{{
          locationData.country }}
        </h2>
        <button class="save-button" *ngIf="usernameInput" (click)="handleSaveLocation()">Save Location</button>
      </div>

      <app-current-weather [currentWeather]="weatherData.current"></app-current-weather>

      <app-forecast [forecast]="weatherData.forecast"></app-forecast>
    </div>

  </div>

</main>

<router-outlet />